# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

logs/*
!.gitkeep
# extern libraries
node_modules/
app/bower_components/
# concatenated JS file is created dynamically
app/js/bundled.js

# destination directory
dist/
tmp

